@import './styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    background-color: $background;
    font-family: 'Lato', sans-serif;
    overflow-y: hidden;
}

.CodeMirror {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px;
    height: 60vh;
    font-size: 16px;
}