@import './styles/variables';

body{
    background-color: $background;
}

.CodeMirror {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px;
    height: 60vh;
    font-size: 16px;
}