// Colors
$background: #384E4E;
$dark: #091013;
$primary: #01954C;
$primary_dark: #035633;
$primary_light: #00C85F;

// Screen Sizes
$xl: 1201px;
$lg: 1024px;
$md: 769px;
$sm: 481px;
$xs: 320px;

//mixins
@mixin center($direction: "row") {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin button($bg: $primary_light, $color: #FFF, $padding: 14px, $radius: 12px) {
    background-color: $bg;
    padding: $padding;
    color: $color;
    border-radius: $radius;
    outline: none;
    border: none;
}
@mixin button-outline($color: $primary-light, $border: $primary-light, $padding: 14px, $radius: 12px) {
    @include button($padding, $radius);
    background-color: transparent;
    border: 2px solid $border;
    color: $primary;
}
